.sectionRadio {
  margin: 20px;
  display: flex;
}
#studentTable {
  margin: 0 auto;
  text-align: center;
}
#innerSectionFilterDiv {
  margin: 0 auto;
  width: 450px;
  display: flex;
}
#sectionFilterHeader,
#studentPageHeader {
  clear: both;
  text-align: center;
}
