.sectionRadio {
  margin: 20px;
  display: flex;
}
#allStudentsPage {
  text-align: center;
}
#studentTable {
  margin: 0 auto;
  text-align: center;
}
#innerSectionFilterDiv {
  margin: 0 auto;
  width: 450px;
  display: flex;
}
#moreStudentInfo {
	cursor: pointer;
}
#sectionFilterHeader,
#studentPageHeader {
  clear: both;
  text-align: center;
}
#studentSortButton {
  margin-bottom: 10px;
  color: white;
  background-color: #008ae6;
  cursor: pointer;
  padding: 10px;
}
