#regForm {
  margin: 0 auto;
  max-width: 400px;
}
div {
  clear: both;
  padding-top: 10px;
}
.col1 {
  float: left;
  margin-right: 10px;
}
.col2 {
  float: right;
  margin-right: 10px;
}
#profileHeader {
  float: left;
}
#checkbox {
  clear: both;
  font-weight: bold;
}
#regButton {
  clear: both;
  margin-bottom: 50px;
}
#allMeetings {
  margin-top: 30px;
}
#regButton,
#allMeetings {
  float: right;
  color: white;
  background-color: #008ae6;
  cursor: pointer;
  padding: 10px;
}
#addStudent,
#addGuardian {
  font-size: 20pt;
  border-radius: 20px;
  background-color: white;
  width: 400px;
  padding: 10px;
  cursor: pointer;
}
select {
  margin-top: 10px;
  padding-right: 100px;
  padding-bottom: 10px;
}
#studentInformation,
#GuardianInformation,
#accountInfo {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
}
