/*
 * File: registration.css
 * Author: Athan Walker
 * Purpose: Provide CSS styling for components and elements affiliated with
 *          the registration and profile pages.
 */
.col1 {
  float: left;
  margin-right: 10px;
  max-width: 175px;
}
.col2 {
  float: right;
  margin-right: 10px;
  max-width: 175px;
}
/*.col1 > input, .col2 > input{
  max-width: 150px;
}*/
.col2 {
  float: right;
  margin-right: 10px;
  max-width: 175px;
}
.birthInfo {
  max-width: 100px;
}
.birthInfo > select {
  max-width: 80px;
}
.formInput {
  max-width: 150px;
}
.formHeader {
  color: #154cc5;
  clear: both;
}
.gradeDropDown {
  padding: 5px;
  width: 150px;
  margin-top: 10px;
}
.mailRadio {
  margin: 20px;
  display: flex;
}
.regNote {
  font-size: 12pt;
  font-weight: normal;
  color: #154cc5;
}
#allMeetings {
  margin-top: 30px;
}
#consentStatus {
  margin: 0 auto;
  margin-top: 10px;
  width: 175px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
}
#consentUpload {
  padding-top: 20px;
}
#profileHeader {
  float: left;
}
#checkbox {
  clear: both;
  font-weight: bold;
  display: flex;
}
#regButton {
  /* clear: both;*/
  margin-bottom: 50px;
}
#regForm {
  margin: 0 auto;
  max-width: 450px;
}
#regButton,
#allMeetings {
  float: right;
  color: white;
  background-color: #008ae6;
  cursor: pointer;
  padding: 10px;
}
#mailOptDiv {
  margin: 0 auto;
  width: 450px;
  display: flex;
}

#myCheckBox {
  margin-top: 30px;
  width: 50px;
}
#addStudent,
#addGuardian,
#remStudent,
#remGuardian {
  font-size: 20pt;
  border-radius: 20px;
  background-color: white;
  width: 450px;
  padding: 10px;
  cursor: pointer;
}
#studentRemoveDiv {
  clear: both;
  width: 100%;
}
#addStudent,
#addGuardian {
  margin-top: 20px;
}
#remStudent,
#remGuardian {
  margin-top: 10px;
  margin-left: 115px;
  width: 200px;
  font-size: 12pt;
  background-color: #990000;
  color: white;
}
#studentInformation,
#GuardianInformation,
#accountInfo {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  width: 425px;
}
#fileUpload {
  float: left;
  margin-top: 20px;
}
#grade {
  float: left;
}
#month {
  float: right;
  margin-right: 55px;
}
#year {
  float: right;
}
#studentNumInfo {
  clear: both;
  max-width: 450px;
  height: 75px;
}
#verification {
  margin-top: 20px;
}
.consent-form {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
