#loginForm {
  margin: 0 auto;
  max-width: 185px;
}
label {
  font-weight: bold;
}
input {
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}
#login {
  clear: both;
  float: right;
  margin-bottom: 50px;
  color: white;
  background-color: #008ae6;
  cursor: pointer;
}
#fgtPasswrd {
  float: left;
  cursor: pointer;
}
#signUp {
  float: right;
  cursor: pointer;
}
